In [1]:
import numpy as np
from matplotlib import pyplot as plt
import pandas as pd
import matplotlib.dates as mdates
import matplotlib.ticker as mticker

In [45]:
data = pd.read_csv(r'.\input\swindex.csv')

In [46]:
data.shape

(90666, 10)

In [51]:
data.columns = ['code', 'name', 'date', 'open', 'high', 'low', 'close', 'volume', 'turnover', 'change']
data.head()
data = data.dropna()

In [52]:
data.loc[data.name=="化工",'name']

Series([], Name: name, dtype: object)

In [60]:
data1 = data.pivot(index="date", columns='name', values='close')
data1.head()

name,交通运输,传媒,公用事业,农林牧渔,医药生物,商贸零售,国防军工,基础化工,家用电器,建筑材料,...,纺织服饰,综合,美容护理,计算机,轻工制造,通信,钢铁,银行,非银金融,食品饮料
date,,,,,,,,,,,,,,,,,,,,,
1/11/2005,1046.08,NaN,766.59,405.42,669.22,710.54,NaN,729.95,400.93,NaN,...,528.80,420.50,NaN,NaN,522.36,NaN,1101.30,NaN,NaN,878.28
1/11/2006,1521.84,NaN,1032.73,675.85,1027.67,1392.11,NaN,1283.54,589.03,NaN,...,788.06,706.77,NaN,NaN,846.95,NaN,1753.63,NaN,NaN,1764.60
1/11/2007,4472.92,NaN,3175.60,1627.62,2670.46,4488.39,NaN,4159.69,1921.11,NaN,...,2373.62,2040.85,NaN,NaN,2222.58,NaN,6339.85,NaN,NaN,4885.60
1/11/2010,2736.85,NaN,2183.85,2602.58,4810.41,5034.21,NaN,2699.13,2580.10,NaN,...,2414.42,2227.00,NaN,NaN,2138.91,NaN,3049.05,NaN,NaN,5620.89
1/11/2011,1910.34,NaN,1764.20,2016.34,3886.29,3769.93,NaN,2150.71,2173.37,NaN,...,2102.57,1885.53,NaN,NaN,1728.76,NaN,2388.91,NaN,NaN,5895.57

In [61]:
data1.index = pd.to_datetime(data1.index, format="%d/%m/%Y")
data1 = data1.sort_index()
# data1.index = pd.to_datetime(data1.index, format="%d/%m/%Y %H:%M")

In [63]:
data1.apply(lambda x: pd.Series([x.dropna().index.min(), x.dropna().index.max()])).T

              0          1
name
交通运输 2005-01-04 2022-06-08
传媒   2014-02-21 2022-06-08
公用事业 2005-01-04 2022-06-08
农林牧渔 2005-01-04 2022-06-08
医药生物 2005-01-04 2022-06-08
商贸零售 2005-01-04 2022-06-08
国防军工 2014-02-21 2022-06-08
基础化工 2005-01-04 2022-06-08
家用电器 2005-01-04 2022-06-08
建筑材料 2014-02-21 2022-06-08
建筑装饰 2014-02-21 2022-06-08
房地产  2005-01-04 2022-06-08
有色金属 2005-01-04 2022-06-08
机械设备 2014-02-21 2022-06-08
汽车   2014-02-21 2022-06-08
煤炭   2014-02-21 2022-06-08
环保   2021-12-13 2022-06-08
电力设备 2014-02-21 2022-06-08
电子   2005-01-04 2022-06-08
石油石化 2021-12-13 2022-06-08
社会服务 2005-01-04 2022-06-08
纺织服饰 2005-01-04 2022-06-08
综合   2005-01-04 2022-06-08
美容护理 2021-12-13 2022-06-08
计算机  2014-02-21 2022-06-08
轻工制造 2005-01-04 2022-06-08
通信   2014-02-21 2022-06-08
钢铁   2005-01-04 2022-06-08
银行   2014-02-21 2022-06-08
非银金融 2014-02-21 2022-06-08
食品饮料 2005-01-04 2022-06-08

In [72]:
week_data = data1.groupby([data1.index.year, data1.index.isocalendar().week]).tail(1)
print(week_data.index.weekday)
week_data.index = list(map(lambda x: x + np.timedelta64(4-x.weekday(), 'D'), week_data.index))
week_return = week_data.pct_change(fill_method=None)
week_return
# how to save? change col name?

Int64Index([4, 4, 4, 4, 4, 4, 4, 4, 4, 4,
            ...
            4, 4, 4, 4, 4, 4, 4, 4, 3, 2],
           dtype='int64', name='date', length=885)

name,交通运输,传媒,公用事业,农林牧渔,医药生物,商贸零售,国防军工,基础化工,家用电器,建筑材料,...,纺织服饰,综合,美容护理,计算机,轻工制造,通信,钢铁,银行,非银金融,食品饮料
2005-01-07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2005-01-14,0.005501,NaN,-0.005218,0.001218,0.006212,0.006002,NaN,-0.010220,0.007467,NaN,...,-0.003350,0.006751,NaN,NaN,0.001414,NaN,0.011594,NaN,NaN,0.010367
2005-01-21,-0.021412,NaN,-0.033933,-0.006997,-0.013602,-0.008734,NaN,-0.017081,-0.013002,NaN,...,-0.011806,0.012341,NaN,NaN,-0.035730,NaN,0.016038,NaN,NaN,-0.009101
2005-01-28,-0.006870,NaN,-0.020652,-0.043728,-0.024667,-0.018296,NaN,-0.015933,-0.024060,NaN,...,-0.038399,-0.031665,NaN,NaN,-0.021517,NaN,0.001538,NaN,NaN,-0.004504
2005-02-04,0.034933,NaN,0.047326,-0.022105,0.007923,0.008355,NaN,0.036788,0.009694,NaN,...,-0.002905,-0.002167,NaN,NaN,-0.000185,NaN,0.065840,NaN,NaN,0.036918
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-05-13,0.028530,0.029462,0.047859,-0.001168,0.041063,0.038095,0.033111,0.031132,0.001079,0.021352,...,0.029888,0.028301,0.010428,0.012798,0.044662,0.028532,0.019831,-0.006452,0.022123,0.010405
2022-05-20,0.018200,0.018723,0.015703,0.016489,-0.020081,0.014032,0.020759,0.042667,0.010997,0.027790,...,0.028804,0.041895,0.033335,0.013843,0.023236,0.024984,0.030886,0.008592,0.012141,0.013099
2022-05-27,0.025062,0.009390,0.005968,0.008621,-0.030171,-0.026400,0.011561,0.000164,-0.039938,-0.022964,...,-0.014306,-0.035737,-0.009652,-0.017142,-0.023248,-0.003368,0.007658,-0.009563,-0.009934,-0.025464
2022-06-03,0.009821,0.022416,0.019045,0.014044,0.002330,0.029206,0.045715,0.018101,0.013205,0.019496,...,0.008917,0.011488,0.055193,0.049685,0.027443,0.040484,0.026084,-0.010553,0.011428,0.033103
2022-06-10,0.009755,0.013620,0.017198,0.002529,0.052732,0.040858,0.001266,0.037718,0.000740,-0.003641,...,0.004057,0.015633,0.021645,0.038765,0.001682,0.003324,0.022631,0.012141,0.030357,0.043477

In [74]:
tickers = pd.read_excel(r'.\input\msci_ticker.xlsx')